@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="aurel_main_wrapper">
    <div class="aurel_container">
        <div class="aurel_content_wrapper row aurel_right_sidebar">
            <!-- Content Container -->
            <div class="aurel_content col9">
                <div class="aurel_tiny">
                    <!-- Title -->
                    <h1 class="page-title">@ViewData["Title"]</h1>

                    <partial name="_StatusMessage" for="StatusMessage" />

                    <form id="change-password-form" method="post" class="aurel_sm_mb_25">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.OldPassword"></label>
                            <input asp-for="Input.OldPassword" class="form-control" placeholder="Old Password" form="change-password-form" size="40" />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.NewPassword"></label>
                            <input asp-for="Input.NewPassword" class="form-control" placeholder="New Password" form="change-password-form" size="40" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confrim Password" form="change-password-form" size="40" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div><input type="submit" value="Update password"> </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
