@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="aurel_main_wrapper">
    <div class="aurel_container">
        <div class="aurel_content_wrapper row aurel_right_sidebar">
            <!-- Content Container -->
            <div class="aurel_content col9">
                <div class="aurel_tiny">
                    <!-- Title -->
                    <h1 class="page-title">@ViewData["Title"]</h1>

                    @*<div class="row">
                        <div class="col-md-6">*@
                    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
                    <p>
                        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                    </p>
                    <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group aurel_sm_mb_25">
                        <div> <input type="submit" value="Download"> </div>
                    </form>
                    <p>
                        <div> <input id="delete" asp-page="DeletePersonalData" type="submit" value="Delete" /> </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
