@using Microsoft.AspNetCore.Identity
@inject NkanaSignInManager SignInManager
@inject NkanaUserManager UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="menu-item-has-children">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="menu-item-has-children">
            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
        </li>
    }
    else
    {
        <li class="menu-item-has-children">
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="menu-item-has-children">
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }

