@model NKANA.ViewModels.ArtWorkFormVm

@{
    ViewData["Title"] = "Add Artwork";
}

<section class="section">
    <div class="section-header">
        <h1>Artwork</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item"><a href="#">Artworks</a></div>
            <div class="breadcrumb-item">Add</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Add Artwork</h4>
                    </div>
                    <form asp-area="Dashboard" asp-controller="ArtWorks" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="text-danger" asp-validation-summary="All"> </div>
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" class="form-control">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ArtistId">Artist</label>
                                <select class="form-control selectric" asp-for="ArtistId" asp-items="ViewBag.ArtistId"></select>

                            </div>
                            <div class="form-group">
                                <label asp-for="Price"></label>
                                <input asp-for="Price" class="form-control">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea class="summernote-simple" asp-for="Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="ThumbnailImage">Thumbnail</label>
                                <input type="file" asp-for="ThumbnailImage" class="form-control preview-thumbnail">
                            </div>
                            <div class="form-group">
                                <label asp-for="OtherImages">Other Images</label>
                                <input type="file" asp-for="OtherImages" multiple class="form-control preview-images">
                            </div>
                            <div class="form-group">
                                <label class="d-block" asp-for="Categories"></label>
                                @if (Model.Categories != null)
                                {
                                    foreach (var cat in Model.Categories)
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="@cat.Id" name="ArtWorkCategories[]">
                                            <label class="form-check-label" asp-for="ArtWorkCategories">@cat.Name</label>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="form-group">
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" asp-for="IsFeatured">
                                    <label class="form-check-label" asp-for="IsFeatured"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary mr-1" type="submit">Add</button>
                            <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/lib/summernote/summernote-bs4.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
