@model IEnumerable<NKANA.ViewModels.ArtWorkListVm>

@{
    ViewData["Title"] = "Artworks";
}

<section class="section">
    <div class="section-header">
        <h1>Artworks</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="javascript(0):void;">Dashboard</a></div>
            <div class="breadcrumb-item"><a href="javascript(0):void;">Artworks</a></div>
            <div class="breadcrumb-item">Gallery</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Gallery</h4>
                        <div class="card-header-action">
                            <a asp-action="Create" class="btn btn-primary">Add New</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="gallery">
                            @foreach (var item in Model)
                            {
                                <div class="gallery-item gallery-more" data-image="@item.ThumbnailUrl" data-title="@item.Title"><div><a asp-action="Details" asp-route-id="@item.Id">view</a></div></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>