@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="aurel_main_wrapper">
    <div class="aurel_container">
        <div class="aurel_content_wrapper row aurel_right_sidebar">

            <!-- Content Container -->
            <div class="aurel_content col9">
                <div class="aurel_tiny">
                    <!-- Title -->
                    <h1 class="page-title">@ViewData["Title"]</h1>
                    <h4>Use a local account to log in.</h4>

                    <section>
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <form id="account" method="post" class="aurel_sm_mb_25">

                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" placeholder="Email or username" form="account" size="40">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" placeholder="Password" form="account" size="40">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" form="account" type="checkbox" />
                            </label>
                            <div><input type="submit" value="Login"></div>
                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>&nbsp;
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                                <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
