@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}



<div class="aurel_main_wrapper aurel_top_padding_no aurel_bottom_padding_no">
    <div class="aurel_content col col-12">
        <!-- Row -->
        <div class="row aurel_js_bg_image aurel_js_min_height aurel_bg_center_center aurel_bg_size_cover aurel_pf_fullwidth aurel_mb_50" data-src="img/clipart/back_14.jpg" data-min-height="650">
            <div class="col col-12 push-middle">
                <div class="aurel_text_align_center aurel_mb_80">



                    <h1>@ViewData["Title"]</h1>
                    @{
                        if (@Model.DisplayConfirmAccountLink)
                        {
                            <p>
                                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                            </p>
                        }
                        else
                        {
                            <p>
                                Please check your email to confirm your account.
                            </p>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>