
<li class="menu-item-has-children">
    <a href="javascript:void(0)">Drawings</a>

    <ul class="sub-menu">
        <li><a href="/">Grid Blog</a></li>
        <li><a href="/">Fullwidth Blog</a></li>
        <li><a href="/">Blog with Right Sidebar</a></li>
        <li><a href="/">Blog with Left Sidebar</a></li>
    </ul>
</li>

<li class="menu-item-has-children">
    <a href="javascript:void(0)">Nature</a>

    <ul class="sub-menu">
        <li><a href="/">Grid Blog</a></li>
        <li><a href="/">Fullwidth Blog</a></li>
        <li><a href="/">Blog with Right Sidebar</a></li>
        <li><a href="/">Blog with Left Sidebar</a></li>
    </ul>
</li>

<li class="menu-item-has-children">
    <a href="javascript:void(0)">Paintings</a>

    <ul class="sub-menu">
        <li><a href="/">Grid Blog</a></li>
        <li><a href="/">Fullwidth Blog</a></li>
        <li><a href="/">Blog with Right Sidebar</a></li>
        <li><a href="/">Blog with Left Sidebar</a></li>
    </ul>
</li>

<li class="menu-item-has-children">
    <a href="javascript:void(0)">Sculptures</a>

    <ul class="sub-menu">
        <li><a href="/">Grid Blog</a></li>
        <li><a href="/">Fullwidth Blog</a></li>
        <li><a href="/">Blog with Right Sidebar</a></li>
        <li><a href="/">Blog with Left Sidebar</a></li>
    </ul>
</li>

