@model IEnumerable<CategoryVm>

@foreach (var cat in Model)
{
    <li class="menu-item">
        <a asp-area="Gallery" asp-controller="Categories" asp-action="Details" asp-route-id="@cat.Id">@cat.Name</a>
    </li>
}

