@{
    ViewData["Title"] = "Home Page";
}
<!-- Content -->
<div class="aurel_main_wrapper aurel_top_padding_yes aurel_bottom_padding_yes">
    <div class="aurel_container">
        <div class="aurel_content_wrapper row aurel_no_sidebar">
            <div class="aurel_content col col-12">
                <div class="aurel_tiny">

                    <!-- Itemized Links -->
                    <!-- Row 1 -->
                    <div class="aurel_pf_fullwidth aurel_js_bg_color" data-bgcolor="#22262a">
                        <div class="aurel_pl_30 aurel_pr_30">
                            <div class="row gutters aurel_itemized_link_shadows">
                                <!-- Item 1 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="gallery_proofing.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-1.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="gallery_proofing.html" target="_blank">Client Proofing</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 2 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="before_after.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-2.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="before_after.html" target="_blank">Before / After</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 3 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="album_ribbon.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-3.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="album_ribbon.html" target="_blank">Ribbon Slider</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="aurel_pf_fullwidth aurel_js_bg_color" data-bgcolor="#22262a">
                        <div class="aurel_pl_30 aurel_pr_30">
                            <div class="row gutters aurel_itemized_link_shadows">
                                <!-- Item 4 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="portrait_ribbon.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-4.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="portrait_ribbon.html" target="_blank">Portrait Photos without Crop</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 5 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="album_split.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-5.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="album_split.html" target="_blank">Split Shift</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 6 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="album_slider.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-6.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="album_slider.html" target="_blank">Image Slider</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 3 -->
                    <div class="aurel_pf_fullwidth aurel_js_bg_color" data-bgcolor="#22262a">
                        <div class="aurel_pl_30 aurel_pr_30">
                            <div class="row gutters aurel_itemized_link_shadows">
                                <!-- Item 7 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="album_masonry.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-7.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="album_masonry.html" target="_blank">Portraits Grid</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 8 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="gallery_grid.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-8.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="gallery_grid.html" target="_blank">Wide Grid</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 9 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="gallery_masonry_boxed.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-9.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="gallery_masonry_boxed.html" target="_blank">Boxed Masonry</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 4 -->
                    <div class="aurel_pf_fullwidth aurel_js_bg_color" data-bgcolor="#22262a">
                        <div class="aurel_pl_30 aurel_pr_30">
                            <div class="row gutters aurel_itemized_link_shadows">
                                <!-- Item 10 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="gallery_packery.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-10.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="gallery_packery.html" target="_blank">Wide Packery</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 11 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="portrait_slider.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-11.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="portrait_slider.html" target="_blank">Portraits Slider</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 12 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="gallery_masonry.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-12.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="gallery_masonry.html" target="_blank">Wide Masonry</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 5 -->
                    <div class="aurel_pf_fullwidth aurel_js_bg_color" data-bgcolor="#22262a">
                        <div class="aurel_pl_30 aurel_pr_30">
                            <div class="row gutters aurel_itemized_link_shadows">
                                <!-- Item 13 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="portrait_ribbon.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-13.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="portrait_ribbon.html" target="_blank">Portraits Ribbon</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 14 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="gallery_grid_boxed.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-14.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="gallery_grid_boxed.html" target="_blank">Boxed Grid</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 15 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="gallery_packery_boxed.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-15.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="gallery_packery_boxed.html" target="_blank">Boxed Packery</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 6 -->
                    <div class="aurel_pf_fullwidth aurel_js_bg_color" data-bgcolor="#22262a">
                        <div class="aurel_pl_30 aurel_pr_30">
                            <div class="row gutters aurel_itemized_link_shadows">
                                <!-- Item 16 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="gallery_packery_sidebar.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-16.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="gallery_packery_sidebar.html" target="_blank">Packery With Sidebar</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 17 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="gallery_masonry_sidebar.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-17.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="gallery_masonry_sidebar.html" target="_blank">Masonry With Sidebar</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 18 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="gallery_grid_sidebar.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-18.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="gallery_grid_sidebar.html" target="_blank">Grid With Sidebar</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 7 -->
                    <div class="aurel_pf_fullwidth aurel_js_bg_color" data-bgcolor="#22262a">
                        <div class="aurel_pl_30 aurel_pr_30">
                            <div class="row gutters aurel_itemized_link_shadows">
                                <!-- Item 19 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="media_grid.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-19.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="media_grid.html" target="_blank">Video Galleries</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 20 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="coming_soon.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-22.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="coming_soon.html" target="_blank">Maintenance Mode</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 21 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="typography.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-23.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="typography.html" target="_blank">Typography</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 8 -->
                    <div class="aurel_pf_fullwidth aurel_js_bg_color aurel_pb_50 aurel_mb_90" data-bgcolor="#22262a">
                        <div class="aurel_pl_30 aurel_pr_30">
                            <div class="row gutters aurel_itemized_link_shadows">
                                <!-- Item 22 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="album_kenburns.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-26.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="album_kenburns.html" target="_blank">Kenburns Effect</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 23 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <a href="image_background.html" target="_blank">
                                                            <img src="~/gallery/img/clipart/landing/item-27.jpg" alt="" />
                                                        </a>
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">
                                                        <a href="image_background.html" target="_blank">Image Background</a>
                                                    </h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Item 24 -->
                                <div class="col col-4">
                                    <div class="aurel_widget_pm_itemized_link">
                                        <div class="aurel_widget_container">
                                            <div class="aurel_itemized_link_item">
                                                <div class="aurel_itemized_link_item_inner">
                                                    <div class="aurel_itemized_link_image aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/landing/item-28.jpg" alt="" />
                                                    </div>

                                                    <h5 class="aurel_itemized_link_title aurel_dp">Coming Soon</h5>

                                                    <div class="aurel_itemized_link_descr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Albums -->
                    <div class="row aurel_js_bg_image aurel_js_min_height aurel_bg_center_center aurel_bg_size_cover aurel_pf_fullwidth aurel_landing_container aurel_mb_46 aurel_landing_albums" data-src="~/gallery/img/clipart/landing/back_2.jpg" data-min-height="550">
                        <div class="col col-12 push-middle aurel_landing_content">
                            <h1 class="aurel_page_heading aurel_js_font_size aurel_mb_37" data-font-size="60px" data-line-height="80px">Work With Albums</h1>

                            <div class="row">
                                <div class="col col-5 push-center aurel_text_align_center aurel_md_width_80">
                                    <p class="aurel_js_font_size aurel_js_color aurel_mb_0" data-font-size="18px" data-line-height="28px" data-color="#fff"><i>Albums allow you to group your pictures and create beautiful collections of any size.</i></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row aurel_pf_fullwidth">
                        <div class="col col-12 aurel_pl_30 aurel_pr_30">
                            <div class="aurel_widget_pm_albums_grid">
                                <div class="aurel_widget_container">
                                    <div class="aurel_front_end_display">
                                        <div class="aurel_grid_filter_wrapper">
                                            <ul id="filters" class="aurel_grid_filter">
                                                <li class="aurel_filter-item is-checked"><a href="javascript:void(0)" data-category="*">All</a></li>
                                                <li class="aurel_filter-item"><a href="javascript:void(0)" data-category=".fashion">Fashion</a></li>
                                                <li class="aurel_filter-item"><a href="javascript:void(0)" data-category=".food-drink">Food+Drink</a></li>
                                                <li class="aurel_filter-item"><a href="javascript:void(0)" data-category=".nature">Nature</a></li>
                                                <li class="aurel_filter-item"><a href="javascript:void(0)" data-category=".portraits">Portraits</a></li>
                                                <li class="aurel_filter-item"><a href="javascript:void(0)" data-category=".stuff">Stuff</a></li>
                                            </ul>
                                        </div>

                                        <div class="aurel_albums_listing_cont aurel_albums_grid aurel_albums_grid4 view_type_grid aurel_isotope_trigger albums_titles_show">
                                            <!-- Item 1 -->
                                            <div class="aurel_albums_grid_item columns_4 nature aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_grid.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_1.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">nature</span>
                                                            <span class="aurel_albums_title">Road to Home</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 2 -->
                                            <div class="aurel_albums_grid_item columns_4 portraits aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_masonry.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_2.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">portraits</span>
                                                            <span class="aurel_albums_title">Sweet Blonde</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 3 -->
                                            <div class="aurel_albums_grid_item columns_4 fashion aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_kenburns.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_3.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">fashion</span>
                                                            <span class="aurel_albums_title">Sport Fashion</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 4 -->
                                            <div class="aurel_albums_grid_item columns_4 stuff aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_packery.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_4.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">stuff</span>
                                                            <span class="aurel_albums_title">Small Things</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 5 -->
                                            <div class="aurel_albums_grid_item columns_4 food-drink aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_ribbon.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_5.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">food+drink</span>
                                                            <span class="aurel_albums_title">Little Pumpkin</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 6 -->
                                            <div class="aurel_albums_grid_item columns_4 portraits aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_slider.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_6.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">portraits</span>
                                                            <span class="aurel_albums_title">In the Shadows</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 7 -->
                                            <div class="aurel_albums_grid_item columns_4 nature aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_split.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_7.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">nature</span>
                                                            <span class="aurel_albums_title">Majestic Mountains</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 8 -->
                                            <div class="aurel_albums_grid_item columns_4 fashion aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_grid.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_8.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">fashion</span>
                                                            <span class="aurel_albums_title">Sunset Girl</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 9 -->
                                            <div class="aurel_albums_grid_item columns_4 portraits aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_masonry.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_9.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">portraits</span>
                                                            <span class="aurel_albums_title">Beautiful Ringlets</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 10 -->
                                            <div class="aurel_albums_grid_item columns_4 nature aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_kenburns.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_10.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">nature</span>
                                                            <span class="aurel_albums_title">In the Forest</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 11 -->
                                            <div class="aurel_albums_grid_item columns_4 food-drink aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_packery.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_11.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">food+drink</span>
                                                            <span class="aurel_albums_title">Still Life</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 12 -->
                                            <div class="aurel_albums_grid_item columns_4 stuff aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_ribbon.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_12.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">Stuff</span>
                                                            <span class="aurel_albums_title">Light My Fire</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 13 -->
                                            <div class="aurel_albums_grid_item columns_4 food-drink aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_ribbon.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_13.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">food+drink</span>
                                                            <span class="aurel_albums_title">Autumn Evening</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 14 -->
                                            <div class="aurel_albums_grid_item columns_4 portraits aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_slider.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_14.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">portraits</span>
                                                            <span class="aurel_albums_title">Business Style</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 15 -->
                                            <div class="aurel_albums_grid_item columns_4 stuff aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_split.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_15.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">Stuff</span>
                                                            <span class="aurel_albums_title">Autumn Stuff</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 16 -->
                                            <div class="aurel_albums_grid_item columns_4 stuff aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_grid.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_16.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">Stuff</span>
                                                            <span class="aurel_albums_title">Rope Bundle</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 17 -->
                                            <div class="aurel_albums_grid_item columns_4 nature aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_masonry.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_17.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">Nature</span>
                                                            <span class="aurel_albums_title">Waterfall</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 18 -->
                                            <div class="aurel_albums_grid_item columns_4 fashion aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_kenburns.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_18.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">Fashion</span>
                                                            <span class="aurel_albums_title">Fashion Jeans</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 19 -->
                                            <div class="aurel_albums_grid_item columns_4 fashion aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_packery.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_19.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">fashion</span>
                                                            <span class="aurel_albums_title">Street Style</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Item 20 -->
                                            <div class="aurel_albums_grid_item columns_4 food-drink aurel_isotop_el_loading">
                                                <div class="aurel_inner_cont">
                                                    <a href="album_ribbon.html" class="aurel_dp aurel_no_select">
                                                        <img src="~/gallery/img/clipart/albums_grid/img_20.jpg" alt="" />

                                                        <span class="aurel_albums_grid_content">
                                                            <span class="aurel_albums_category">food+drink</span>
                                                            <span class="aurel_albums_title">Breakfast</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
